<h2><%=l(:label_auto_role_edit) %></h2>
<% auto_role_id = @project.custom_field_value(Setting.plugin_redmine_auto_role['autorole_custom_field_id']) %>
<% auto_role_id = auto_role_id.nil? ? 1 : auto_role_id %>
<% logger.warn("Auto role ID: #{auto_role_id}") %>
<% auto_role    = Role.find(auto_role_id) %>
<%=labelled_form_for auto_role, :url => url_for(:controller => "projects", :action => "setautorole", :role_id => auto_role_id) do |f| %>
	<% error_messages_for auto_role %>

	<p>
		<label><%=l(:assignee_auto_role)%>:</label>
		<%= f.collection_select :id, Role.sorted, :id, :name %>
	</p>

	<%= submit_tag l(:label_auto_roles_submit) %>
<% end %>
<% html_title(l(:label_auto_role_edit)) -%>
